.button {
  padding: 12px 18px;
  border-radius: 3px;
  background-color: orange;
}

.primaryOrange {
  background-color: orange;
}
.green {
  background-color: green;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 182px;
  height: 47px;
  border-radius: 4px;
}
