.block {
  padding: 0 230px;
}

.grid {
  display: grid;
}

.margin-m {
  margin-top: 24px;
}

.margin-s {
  margin-top: 12px;
}

.margin-l {
  margin-top: 36px;
}

.no-margin {
  margin-top: 0;
}

.blockHeading {
  padding: 12px 0;
  font-weight: 500;
  font-size: 18px;
}
