.block {
  position: relative;
  width: 100%;

  .title {
    margin-left: 10px;
  }

  .btnPrev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    position: absolute;
    top: 0;
    right: 50px;
    z-index: 1;
  }

  .btnNext {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 1;
  }
}
